body {
    font-family: 'Times New Roman', Times, serif;
}

input {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    border-color: lightgray;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.bevitel {
    display: flex;
    flex-direction: column;
    max-width: 20%;
}

.modosit {
    margin: 5px;
    align-self: center;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 10px;
    background-color: blue;
    color: white;
    border: none;
    font-size: medium;
    padding: 10px;
}

.torol {
    margin: 5px;
    align-self: center;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 10px;
    background-color: red;
    color: white;
    border: none;
    font-size: medium;
    padding: 10px;
}

#mentes {
    margin: 5px;
    align-self: center;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 10px;
    background-color: lightgreen;
    border: none;
    font-size: medium;
    padding: 10px;
}

#export {
    margin: 5px;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 10px;
    background-color: lightblue;
    border: none;
    font-size: medium;
    padding: 10px;
}

#import {
    margin: 5px;
    font-size: medium;
}